### Converted pdf into images and saved in img folder

In [1]:
# Importing neccessary libraries
import pandas as pd
from PIL import Image
from pytesseract import pytesseract
import re

In [2]:
# Defining paths to tesseract.exe
path_to_tesseract = r"C:\Program Files\Tesseract-OCR\tesseract.exe"

### Our desired data is in image 2 to 7. So we read only that images

In [3]:
# Opening the image & storing it in an image object
img = Image.open("img/7.jpg")

In [4]:
# Providing the tesseract executable location to pytesseract library
pytesseract.tesseract_cmd = path_to_tesseract

In [5]:
# Extracting the text from the image
text = pytesseract.image_to_string(img, lang ="hin")

In [6]:
text

'विधानसभा निर्वाचन क्षेत्र का नाम और संख्या : 62-बहरोड़ भाग संख्या : : 4\n\nअनुभाग संख्या एवं नाम : 7-रघुनाथपुरा,रघुनाथपुरा\n»00॥308\nनिर्वाचक का नाम : आशा देवी\n\nनिर्वाचक का नाम : सुनिता\nपति का नाम: राजकुमार पति का नाम: जितेंद्र सिंह\nमकान संख्या : 7 फोटो उपलब्ध\nउम्र : 66 लिंग: महिला\n(3/08/058/000293\n\nमकान संख्या : 8 फोटो उपलब्ध\n| __॥97]\n\nउप्र : 3। लिंग: महिला\nनिर्वाचक का नाम : रेशमी\nपति का नाम: लालाराम\nमकान संख्या : 8 फोटो उपलब्ध\nउम्र: 74 लिंग: महिला\n\n| __॥॥2]\n\nम2 ॥57 7020748429 +#02002855\n\nनिर्वाचक का नाम : सुरेंद्र सिंग पादव\nपिता का नाम: लाला राम यादव ५४\n\nमकान संख्या : 8\nउम्र : 45 लिंग : पुरुष\n\nशा] [__/ ॥»|\n\nनिर्वाचक का नाम : लाला राम निर्वाचक का नाम : जितेन्द्र\nपिता का नाम: प्रभु दयाल पिता का नाम: लालाराम\nमकान संख्या : 8 मकान संख्या : 8 फ़ोटो उपलब्ध\n\nउम्र : 63 लिंग : पुरुष उम्र : 37 लिंग: पुरुष\n\n४>५४]॥98373 54 8.//08/058/000422\n\n| 763 |\n\nनिर्वाचक का नाम : प्रमिला निर्वाचक का नाम : रतीराम निर्वाचक का नाम : शकुन्तला\n\nपति का नाम: सुरेन्द्र पिता का नाम: प्रहलाद पति का नाम: रतीराम\n\nमकान संख्या : 8 फोटो उपलब्ध | | | मकान संख्या : 9 मकान संख्या : 9 फ़ोटो उपलब्ध\nउम्र : 38 लिंग; महिला उम्र : 55 लिंग: पुरुष उम्र : 50 लिंग: महिला\n\n+3/08/058/000588 83/08/058/0004॥4\n\nकी की\n\n| ॥70 300/98407\n\nनिर्वाचक का नाम : नरेशकुमार\n\nपिता का नाम: लालाराम\n\nमकान संख्या : 20 फोटो उपलब्ध\nउम्र : 38 लिंग : पुरुष\n\n| ॥73 #020273938\n\nनिर्वाचक का नाम : बाबूलाल\n\nपिता का नाम: लालाराम\n\nमकान संख्या : 20 फोटो उपलब्ध\nउम्र : 37 लिंग : पुरुष\n\n] ॥76 +#0224447\n\nनिर्वाचक का नाम : क्विरण कुमारी\n\nपिता का नाम: नरेंद्र सिंह यादव\n\nमकान संख्या : 20 फोटो उपलब्ध\nउम्र : 2। लिंग: महिला\n\n84/08/058/000493\n\nनिर्वाचक का नाम : रोहताश\n\nपिता का नाम: छोटेलाल\n\nमकान संख्या : 2] फोटो उपलब्ध\nउम्र : 63 लिंग: पुरुष\n\n| _.. ॥65]| +32073059\n\nनिर्वांचक का नाम : विकाश कुमार\n\nपिता का नाम: रतीराम\n\nमकान संख्या : 9 फोटो उपलब्ध\nउम्र : 28 लिंग: पुरुष\n\n| .. ॥॥७४] | .)0११9838॥\n\nनिर्वांचक का नाम : नरेन्द्र कुमार\n\nपिता का नाम: लालाराम\n\nमकान संख्या : 20 पा उपलब्ध\nउम्र : 40 लिंग : पुरुष\n\n| ॥77] 8./08/058/000423\n\nनिर्वांचक का नाम : रामपती\n\nपत्ति का नाम: लालाराम\n\nमकान संख्या : 20 ध्ण उपलब्ध\nउम्र : 57 लिंग : महिला\n\n॥020038\n\nनिर्वाचक का नाम : शर्मिला\n\nपति का नाम: बाबूलाल\n\nमकान संख्या : 20 हल उपलब्ध\nउम्र : 36 लिंग : महिला\n\n॥77\nनिर्वाचक का नाम : अंजु देवी\nअन्य: पवन\nमकान संख्या : 20\nउम्र : 34 लिंग : पुरुष\n\n| ___॥७]\n\nनिर्वांचक का नाम : मन्\u200d्जूदेवी\nपति का नाम: नरेन्द्र कुमार\nमकान संख्या : 20\n\nउम्र : 38 लिंग : महिला\n\n43/08/058/000880\n\n| ॥72]|\n\nनिर्वांचक का नाम : लालाराम\n\nपिता का नाम: उमराव\n\nमकान संख्या : 20 फोटो उपलब्ध\nउम्र : 59 लिंग : पुरुष\n\n| ॥75\n\nनिर्वाचक का नाम : पवन\nपिता का नाम: बनवारी\nमकान संख्या : 20\nउम्र : 35 लिंग : पुरुष\n\n| ॥78] +0/08/058/000335\n\nनिर्वाचक का नाम : सरदारी\n\nपति का नाम: छोटेलाल\n\nमकान संख्या : 2॥ फोटो उपलब्ध\nउम्र : 8 लिंग: महिला\n\n| [.. ॥]॥890| 8./08/058/00046\n\nनिर्वाचक का नाम : निर्मला\n\nपति का नाम: रोहताश\n\nमकान संख्या : 2 फोटो उपलब्ध\nउम्र: 6 लिंग: महिला\n\n| ____॥83] #02086736 | [|_____॥84] 8072086744\n\nनिर्वाचक का नाम : सुमन देवी निर्वाचक का नाम : संदीप कुमार\n\nपति का नाम: संदीप पिता का नाम: सज्जन सिंह\n\nमकान संख्या : 2 फ़ोटो उपलब्ध | | | मकान संख्या : 2 फ़ोटो उपलब्ध\nउम्र : 3। लिंग: महिला उम्र : 30 लिंग : पुरुष\n\nनियत तिथि को आयु : 0-04-2023 को संदर्भित आयु #/#]॥ प्रकाशन की पूरक तिथि के अनुसार संशोधित : :- 30-04-2023 कुल पृष्ठ 53 - का पृष्ठ 45\n\nनिर्वाचक का नाम : अरविन्द निर्वाचक का नाम : रेणु\nपिता का नाम: रोहिताश्र पति का नाम: अरविन्द\nमकान संख्या : 2॥ मकान संख्या : 2\n\nउम्र : 35 लिंग : पुरुष उम्र : 35 लिंग: महिला\n\nनिर्वाचक का नाम : प्रमीला\nपति का नाम: अशोककुमार\n\nमकान संख्या : 22\nउप्र : 42 लिंग: महिला\n\n'

In [7]:
# Regular Expression Pattern
name = "चक का नाम . ([^\s]+)|चक का नाम. ([^\s]+)|चक का नाम ([^\s]+)"
f_name = "ता का नाम . ([^\s]+)|ता का नाम. ([^\s]+)|ति का नाम . ([^\s]+)|ति का नाम. ([^\s]+)|ता का नाम ([^\s]+)|ति का नाम ([^\s]+)"
age = "उम्र[^0-9]*(\d*)|उप्र[^0-9]*(\d*)|उद्र[^0-9]*(\d*)"
gender = "लिंग. ([^\s]+)|लिंग . ([^\s]+)|लिंग ([^\s]+)"
address = "मकान संख्या[^0-9]*(\d*)"

In [8]:
# Function for getting non empty element from the tuple
def get_non_empty_element(my_tuple):
    for element in my_tuple:
        if element:  # Check if the element is non-empty
            return element
    return None  # Return None if no non-empty element is found

In [9]:
names = []
for i in range(0,len(re.findall(name, text))):
    names.append(get_non_empty_element(re.findall(name, text)[i]))

f_names = []
for i in range(0,len(re.findall(f_name, text))):
    f_names.append(get_non_empty_element(re.findall(f_name, text)[i]))

ages = []
for i in range(0,len(re.findall(age, text))):
    ages.append(get_non_empty_element(re.findall(age, text)[i]))

genders = []
for i in range(0,len(re.findall(gender, text))):
    genders.append(get_non_empty_element(re.findall(gender, text)[i]))

addresss = []
for i in range(0,len(re.findall(address, text))):
    addresss.append(get_non_empty_element(re.findall(address, text)[i]))

In [10]:
columns=['Name','Father Name/Husband Name','Age','Gender','House No.']
df = pd.DataFrame(list(zip(names, f_names, ages, genders, addresss)),columns=columns)
df.shape

(27, 5)

### Let's do it for all images

In [11]:
names = []
f_names = []
ages = []
genders = []
addresss = []
for i in range(2,8):
    img = Image.open("img/"+str(i)+".jpg")
    text = pytesseract.image_to_string(img, lang ="hin")

    for i in range(0,len(re.findall(name, text))):
        names.append(get_non_empty_element(re.findall(name, text)[i]))

    for i in range(0,len(re.findall(f_name, text))):
        f_names.append(get_non_empty_element(re.findall(f_name, text)[i]))

    for i in range(0,len(re.findall(age, text))):
        ages.append(get_non_empty_element(re.findall(age, text)[i]))

    for i in range(0,len(re.findall(gender, text))):
        genders.append(get_non_empty_element(re.findall(gender, text)[i]))

    for i in range(0,len(re.findall(address, text))):
        addresss.append(get_non_empty_element(re.findall(address, text)[i]))

In [12]:
columns=['Name','Father Name/Husband Name','Age','Gender','House No.']
df = pd.DataFrame(list(zip(names, f_names, ages, genders, addresss)),columns=columns)
df.shape

(166, 5)

In [13]:
df.head()

        Name Father Name/Husband Name Age Gender House No.
0       ओमली                  लालाराम  54  महिला         2
1   देवेंद्र                  लालाराम  79  पुरुष         2
2    लालाराम                  मामचन्द  22  पुरुष         4
3  श्योत्ताज                  गणपतराम  59  पुरुष         2
4   सावित्री                  छाजूराम  69  महिला         4

In [14]:
df.to_excel('Population.xlsx',index=False)